body {
    background-color: #1c1c254f;
}

.main-container {
    width: 50%;
    margin: 0 0 0 23%;
}

.container-head {
    font-family: sans-serif;
    background-color: #353543;
}

.container-head p,
h2,
h4 {
    color: rgb(255, 255, 255);
}


nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    position: relative;
    top: 0px;
    left: -100px;
}

ul li {
    margin: 0px 10px 0px 18px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    color: #9c9ca1;
    font-weight: bolder;
}

a:hover {
    border-bottom: 2px solid #cba62c;
    transition: 1s;
    color: white;
}

.logo {
    margin: 5px -10% 0px 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(250, 242, 226);
}

.fa-face-smile {
    color: #cba62c;
    margin: 10px 10px 0px 0px;
}

.fa-brands {
    background-color: #1c1c2579;
    border-radius: 10px;
    text-shadow: 5px 10px 10px rgb(2, 2, 2);
}

.nav-icon {
    margin-right: 75px;
}

.nav-icon i {
    margin: 20px 0 0 15px;
    color: white;
    text-shadow: none;
}

.section-1 {
    width: 20%;
    margin: 0px 0px 0px 75px;
    z-index: 1;
}

.section-1 h2 {
    font-size: 45px;
    width: 160%;
    color: white;
    font-family: 'Unbounded', cursive;
    text-shadow: 2px 2px 1px #c8c8d6;
}

.section-1 span {
    display: inline;
    position: relative;
    top: 40px;
    font-size: 30px;
    color: rgba(206, 192, 192, 0.61);
}

.section-1 hr {
    width: 60%;
    margin: -35px 0px 0px 0px;
    border: 2px solid #cba62c;
    border-radius: 10%;
}

.section-1 p {
    font-size: small;
    font-family: 'Source Sans Pro', sans-serif;
    color: #c8c8d6;
    line-height: 20px;
}

section {
    display: flex;
}

.section-2 {
    width: 22%;
    margin: 25px 0px 0px -31px;
}

.section-2 a {
    color: #cba62c;
    font-size: 13px;
    font-weight: bolder;
}

.section-2 p {
    font-weight: bold;
    color: #c8c8d6;
    font-size: 15px;
    line-height: 22px;
}

.section-2 h4 {
    margin-bottom: -9px;
    font-weight: lighter;
    color: #b4b4b9;
    font-size: 15px;
}

.dvi-icon {
    margin-top: 10px;
    color: #cba62c;
    font-size: 12px;
}

.dvi-icon i {
    padding: 8px;
}

.fa-arrow-right {
    margin: 10px 0px 0px 20px;
    font-weight: bolder;
}

.image {
    background-color: #1c1c2594;
    border-radius: 50%;
    margin: 0px 0px 0px 30px;
    height: 315px;
    width: 315px;
    box-shadow: 5px 5px 10px #292828;
}

.image img {
    width: 280px;
    margin: 30px 0px 0px 20px;
}

.section-b {
    display: flex;
    width: 83%;
    justify-content: space-around;
    margin: -20px 0px 0px 70px;
    background-color: #40404d;
    padding: 10px;
    color: white;
    position: relative;
    top: 17px;
    box-shadow: 2px 2px 14px #1a1a1b;
}

.icon-sec img {
    width: 60px;
    height: 20px;
    padding: 10px 30px;
    background-color: #353543;
    box-shadow: 8px 5px 10px rgb(24, 23, 23);
}

.main-container {
    background-color: #1c1c25;
    height: 100vh;
}

.work {
    width: 35%;
    display: inline-block;
    margin-top: 100px;
    margin-left: 42px;
}

.work p {
    font-size: smaller;
    margin-left: 20px;
    color: #c8c8d6;
    line-height: 20px;
    width: 60%;
}

.work h4 {
    color: #cba62c;
    margin-left: 30px;
    line-height: 20px;
}

.work h1 {
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Unbounded', cursive;
    text-shadow: 2px 2px 1px #c8c8d6;
}

.two {
    display: inline-block;
    margin-left: 65px;
    width: 36%;
    position: relative;
    top: -40px;
}

.two p {
    width: 100%;
}

.one {
    display: inline-block;
    width: 36%;
    position: relative;
    top: -40px;
}

.one p {
    width: 100%;
}

.four {
    margin-left: 65px;
    display: inline-block;
    width: 36%;
    position: relative;
    top: -80px;
}

.three p {
    width: 100%;
}

.three {
    display: inline-block;
    width: 36%;
    position: relative;
    top: -80px;
}

.four p {
    width: 100%;
}

.one h4 {
    position: relative;
    bottom: -24px;
    left: -11px;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Unbounded', cursive;
}

.two h4 {
    position: relative;
    bottom: -24px;
    left: -11px;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Unbounded', cursive;
}

.three h4 {
    position: relative;
    bottom: -24px;
    left: -11px;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Unbounded', cursive;
}

.four h4 {
    position: relative;
    bottom: -24px;
    left: -11px;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Unbounded', cursive;
}

.imagess img {
    width: 80px;
    height: 70px;
    margin-bottom: 20px;
}

.professional {
    width: 37%;
    margin-top: 95px;
    float: right;
    margin-right: 45px;
}

.next-icon {
    position: relative;
    justify-content: end;
    top: -75px;
    left: 270px;
    font-weight: bolder;
    color: #cba62c;
}

.cont img {
    width: 105px;
    height: 70px;
    box-shadow: 5px 5px 10px #000000;
}

.cont {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

.cont p {
    position: relative;
    bottom: 20px;
    font-size: smaller;
}

.cont h4 {
    color: #dcdce7;
    font-size: 14px;
}

.cont p {
    font-size: smaller;
    color: grey;
}

.line {
    margin-top: -25px;
    width: 85%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1c1c25;
    height: 300px;
    margin-top: -20px;


}

.f00t-one {
    background-color: #40404d;
    width: 22%;
    padding: 20px;
    margin-top: 30px;
    margin-right: 20px;
    box-shadow: 2px 2px 14px #313133;
    height: 185px;
}

.f00t-one i {
    font-size: 20px;
    color: #cba62c;
    padding: 10px;
    background-color: #1c1c25;
    border-radius: 40px;
}

.f00t-one h3,
p {
    color: white;
}

.f00t-one p {
    font-size: 14px;
    color: #bdbdc4;
}